.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #96ae37;
  --bs-btn-border-color: #96ae37;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3a562e;
  --bs-btn-hover-border-color: #3a562e;
  --bs-btn-focus-shadow-rgb: 63, 147, 173;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3a562e;
  --bs-btn-active-border-color: #3a562e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1D809F;
  --bs-btn-disabled-border-color: #1D809F;
}

img {
  align-items: center;
}

h1 {
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 50px;
}


#services {
  background-color: #85bc3c;
}

#Skills {
  background-color: #85bc3c;
}

li {
  color: var(--bs-light);
  font-size: large;
}

.social-link footer.footer .social-link:hover {
  background-color: #5ecd42;
}

h6 {
  text-align: left;
}

